@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #803D3B;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  @apply text-justify;
}

.half-height {
  min-height: 50vh;
}

.card-link {
  color: var(--theme-color);
}
.card-link:hover {
  color: grey;
}