:root {
    --doc-bg-color: azure;
    --bg-color: #f1f1f1;
    --btn-hover-background: black;
    --btn-active-textcolor: #1cacd7;
    --btn-textcolor: #000;
    --link-active-textcolor: darkslateblue;
    --circ-btn-active-color: darkslategray;

    --panel-height: 220px;
}