/* 
Format description: 
    h2: timeline-header
    ul: timeline
        li
            div: title
            div: date
            div: subtitle
            div: descr 

Reference: https://codepen.io/MarkBoots/pen/OJOqNyB
*/

.timeline-header {
    font-weight: lighter;
    padding: 40px;
    text-align: center;
    padding-bottom: 0;
}

.timeline {
    --bg-color: rgba(245, 245, 245);
    --grey-color: #393e46;
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    
    display: grid;
    column-gap: var(--col-gap);
    list-style: none;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 80px;
    margin-inline: auto;
    padding-right: 40px;
}

/* line */
.timeline::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.timeline li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
.timeline li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

.timeline li:hover {
    -webkit-transform: scale(var(--img-scale));
    -ms-transform: scale(var(--img-scale));
    transform: scale(var(--img-scale));
    transition: var(--img-scale-time) ease;
}

.timeline li .date {
    color: var(--accent-color);
    padding-block-end: 0.25rem;
}
.timeline li .subtitle {
    color: var(--grey-color);
    padding-block-start: 0.7rem;
    padding-block-end: 0.5rem;
}

/* title */
.timeline li .title {
  --titleH: 3rem;
  height: var(--titleH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--titleH) / 2) 0 0 calc(var(--titleH) / 2);
}

/* title flap */
.timeline li .title::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
.timeline li .title::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: white;
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* date descr */
.timeline li .subtitle,
.timeline li .descr {
  background: var(--bg-color);
  position: relative;
  padding-inline: 1.5rem;
}
.timeline li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
.timeline li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
.timeline li .title::before {
  bottom: calc(100% + 0.125rem);
}

.timeline li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  .timeline {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  .timeline::before {
    grid-column: 2;
  }
  .timeline li:nth-child(odd) {
    grid-column: 1;
    transform-origin: top right;
  }
  .timeline li:nth-child(even) {
    grid-column: 3;
    transform-origin: top left;
  }

  .timeline li:nth-child(odd) .title::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  .timeline li:nth-child(odd) .title::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  .timeline li:nth-child(odd) .title {
    border-radius: 0 calc(var(--titleH) / 2) calc(var(--titleH) / 2) 0;
  }
}